@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

// COLORS
$color-red: #fc4747;
$color-navy: #161d2f;
$color-dark-blue: #10141e;
$color-greyish-blue: #5a698f;
$color-white: #fff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: $color-dark-blue;
  color: $color-white;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
}

/*
================================================
        REUSABLE CLASSES ACROSS THE APP  
================================================
*/

.logo {
  width: 4rem;
  height: 4rem;
}

.content-title {
  font-weight: 200;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.bookmark-btn {
  position: absolute;
  top: 1.75rem;
  right: 2.25rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    transform: rotate(2deg);
  }
}

.like-btn {
  position: absolute;
  top: 1.75rem;
  right: 6.25rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 5;
  border-radius: 0.75rem;
  transition: all 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  .play-btn {
    display: flex;
    opacity: 0;
    pointer-events: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 8.5rem;
    padding: 0.75rem 0;
    border-radius: 2rem;
    cursor: pointer;
    background-color: rgba($color-white, 0.25);
    transition: all 0.5s;

    img {
      width: 2.35rem;
      height: 2.35rem;
    }

    span {
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}

// ELEMENTS ––– ON THE TRENDING/MOVIE CARD
.info,
.span-category {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.year,
.category,
.rating {
  font-weight: 200;
  font-size: 1.2rem;
  color: rgba($color-white, 0.7);
}

.dot {
  font-size: 1rem;
  color: rgba($color-white, 0.7);
}

.movie-title {
  font-weight: 600;
  font-size: 1.5rem;
  z-index: 100;
  color: rgba($color-white, 1);
}

/*
================================================
            SIGN IN/SIGN UP CLASSES
================================================
*/

.container-log {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin-top: 15rem;
}

.form {
  background-color: $color-white;
  width: 40rem;
  height: auto;
  padding: 3rem;
  background-color: #161d2f;

  display: flex;
  gap: 0.75rem;
  flex-direction: column;

  &__wrapper {
  }

  &__title {
    font-size: 2.4rem;
  }

  &__input {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    color: $color-white;
    font-family: inherit;

    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid $color-white;

    &:first-of-type {
      margin-top: 2rem;
    }

    &::placeholder {
      font-weight: 200;
    }
  }

  &__submit {
    margin-top: 3rem;
    width: 100%;
    padding: 1.25rem;
    cursor: pointer;
  }

  &__footer {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.25px;
  }

  &__link {
    margin-left: 0.5rem;
    text-decoration: none;
    color: $color-red;
    border-bottom: 1px dashed $color-red;
  }
}

/*
================================================
          HOME PAGE NAVIGATION/SEARCH
================================================
*/

.container-home {
  max-width: 100%;
  height: 100%;
  padding: 2.75rem 2.2rem;

  display: flex;
  gap: 2.5rem;

  .content-wrapper {
    flex: 1;
    overflow: hidden;
  }
}

.home {
  &__nav {
    // width: 7rem;
    height: 50rem;
    padding: 2rem 0;
    background-color: $color-navy;
    border-radius: 1rem;

    flex-basis: 4%;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  &__nav-item {
    .logo {
      width: 3.5rem;
      height: 3.5rem;

      margin-bottom: 2.25rem;
    }

    .nav--icon {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__nav-span {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  &__nav-avatar {
    width: 3.4rem;
    height: 3.4rem;
  }
}

.search {
  height: 5rem;
  // background-color: yellowgreen;
  display: flex;
  gap: 2rem;
  align-items: center;

  flex-basis: 96%;

  &__logo {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;

    & > * {
      width: 2.75rem;
      height: 2.75rem;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1.5rem 0;
    color: $color-white;
    font-weight: 200;
    font-size: 1.8rem;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;

    &:active,
    &:focus {
      border-bottom: 1px solid $color-greyish-blue;
    }
  }
}

/*
================================================
              TRENDING MOVIE CARD
================================================
*/

.trending {
  overflow: scroll;

  &__cards-wrapper {
    width: calc(5 * 35rem);

    overflow: scroll;
    display: flex;
    gap: 2.5rem;
  }

  .card {
    position: relative;

    width: 35rem;
    height: 17rem;
    background-color: #5a698f;
    border-radius: 0.75rem;

    &:hover {
      .overlay {
        background-color: rgba(0, 0, 0, 0.4);

        .play-btn {
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      border-radius: 0.75rem;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    &__info {
      position: absolute;
      bottom: 1.25rem;
      left: 1.75rem;
      z-index: 10;
    }
  }
}

/*
================================================
              GENERAL MOVIE CARD
================================================
*/

.general {
  .cards-wrapper {
    // display: flex;
    // flex-wrap: wrap;

    gap: 2.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .card {
      position: relative;
      margin-bottom: 7rem;
      margin-right: 2.5rem;
      width: 100%;
      height: 14rem;
      border-radius: 0.75rem;

      &:hover {
        .overlay {
          background-color: rgba(0, 0, 0, 0.4);

          .play-btn {
            opacity: 1;
            pointer-events: all;
          }
        }
      }

      &__image {
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }

      &__info {
        position: absolute;
        bottom: -5.25rem;
        left: 0;
        z-index: 10;
      }
    }
  }
}

/*
================================================
                  MEDIA QUERIES
================================================
*/

@media only screen and (max-width: 1350px) {
  .general {
    .cards-wrapper {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
@media only screen and (max-width: 1170px) {
  .general {
    .cards-wrapper {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media only screen and (max-width: 800px) {
  .general {
    .cards-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media only screen and (max-width: 601px) {
  .general {
    .cards-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* On screens that are 992px or less, set the background color to blue */

@media screen and (max-width: 1024px) {
  body {
    // background-color: blue;
  }

  .content-title {
    font-size: 2.7rem;
  }

  // SEARCH

  .search__input {
    font-size: 1.4rem;
  }

  // NAIGATION
  .container-home {
    flex-direction: column;
    overflow: scroll;
  }

  .logo {
    width: 2.85rem;
    height: 2.85rem;
  }

  .home__nav {
    height: auto;
    flex-direction: row;
    padding: 1rem;

    &-list {
      flex-direction: row;
      gap: 2rem;
    }

    &-item {
      .logo {
        margin-bottom: 0;
      }

      .nav--icon {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }

  // TRENDING CARD
  .trending {
    overflow: scroll;

    .card {
      width: 30rem;
      height: 15rem;
    }

    .card__info {
      bottom: 0.8rem;
      left: 1.35rem;
    }
  }

  .info,
  .span-category {
    gap: 0.5rem;
  }

  .year,
  .category,
  .rating {
    font-size: 1.15rem;
  }

  .dot {
    font-size: 0.8rem;
  }

  .movie-title {
    font-size: 1.6rem;
  }

  .overlay .play-btn {
    gap: 0.75rem;
    width: 7.5rem;

    img {
      width: 2rem;
      height: 2rem;
    }

    span {
      font-size: 1.3rem;
    }
  }

  .bookmark-btn,
  .like-btn {
    top: 1.25rem;
    width: 2.75rem;
    height: 2.75rem;
  }

  .bookmark-btn {
    right: 1.25rem;
  }

  .like-btn {
    right: 4.8rem;
  }

  .trending__cards-wrapper {
    width: calc(5 * 30rem);
  }

  // SIGN IN/ SIGN UP
  .container-log {
    margin-top: 7rem;
  }
}

@media screen and (max-width: 675px) {
  // SIGN IN/ SIGN UP
  .container-log {
    margin-top: 5rem;
  }

  .container-title {
    font-size: 2rem;
  }

  .form {
    width: 30rem;
  }

  .content-title {
    font-size: 2rem;
  }

  // TRENDING
  // TRENDING CARD
  .trending {
    overflow: scroll;

    &__cards-wrapper {
      width: calc(5 * 33rem);
    }

    .card {
      width: 33rem;
      height: 15rem;
    }

    .card__info {
      bottom: 0.75rem;
    }
  }

  .info,
  .span-category {
    gap: 0.5rem;
  }

  .year,
  .category,
  .rating {
    font-size: 1.15rem;
  }

  .dot {
    font-size: 0.8rem;
  }

  .movie-title {
    font-size: 1.3rem;
  }

  .overlay .play-btn {
    width: 7rem;
    padding: 0.5rem 0;

    img {
      width: 1.65rem;
      height: 1.65rem;
    }

    span {
      font-size: 1.2rem;
    }
  }

  .bookmark-btn,
  .like-btn {
    top: 1rem;
  }

  .general {
    .cards-wrapper {
      .card {
        height: 12rem;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .content-title {
    font-size: 1.3rem;
  }
  .form {
    width: 25rem;
    padding: 2.25rem;

    &__title {
      font-size: 1.8rem;
    }

    &__input::placeholder {
      font-size: 1.2rem;
    }

    &__submit {
      margin-top: 2rem;
      padding: 0.5rem;
    }
  }

  .info,
  .span-category {
    gap: 0.5rem;
  }

  .year,
  .category,
  .rating {
    font-size: 0.8rem;
  }

  .dot {
    font-size: 0.8rem;
  }

  .movie-title {
    font-size: 1rem;
  }

  .general {
    .cards-wrapper {
      .card {
        margin-bottom: 4rem;
        height: 10rem;
      }
      .card__info {
        bottom: -4.5rem;
      }
    }
  }
}
