nav.home__nav
  ul.home__nav-list
    li.home__nav-item
      a(href='#')
        img.logo(src='/starter-code/assets/logo.svg', alt='Logo')
    li.home__nav-item
      a(href='#')
        img.nav--icon(src='/starter-code/assets/icon-nav-home.svg', alt='Trending logo')
    li.home__nav-item
      a(href='#')
        img.nav--icon(src='/starter-code/assets/icon-nav-movies.svg', alt='Trending logo')
    li.home__nav-item
      a(href='#')
        img.nav--icon(src='/starter-code/assets/icon-nav-tv-series.svg', alt='Trending logo')
    li.home__nav-item
      a(href='#')
        img.nav--icon(src='/starter-code/assets/icon-nav-bookmark.svg', alt='Trending logo')
  span.home__nav-span
    img.home__nav-avatar(src='/starter-code/assets/image-avatar.png', alt='Profile photo')