form.search
  button.search__logo
    img(src='/starter-code/assets/icon-search.svg', alt='Search icon')
  input#movie-seach.search__input(type='search', name='search', placeholder='Search for movies or TV series')
//- button.logout-btn Log out