doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/style.css')
    link(rel='shortcut icon', type='image/png', href='/starter-code/assets/favicon-32x32.png')

    title Movie App | #{title}
  body
    .container-log
      img.logo(src='/starter-code/assets/logo.svg', alt='Logo')
      .form
        form#form-login.form__wrapper
          span.form__title Login
          input#email.form__input(type='text', placeholder='example@gmail.com')
          input#password.form__input(type='password', placeholder='Password')
          button#form-btn.form__submit Login to your account
        span.form__footer
          | Don&apos;t have an account? 
          a.form__link(href='/signup') Sign up

    script(src="/js/bundle.js")