@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Jost", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #10141e;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5; }

/*
================================================
        REUSABLE CLASSES ACROSS THE APP  
================================================
*/
.logo {
  width: 4rem;
  height: 4rem; }

/*
================================================
            SIGN IN/SIGN UP CLASSES
================================================
*/
.container-log {
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  margin-top: 15rem; }

.form {
  background-color: #fff;
  width: 40rem;
  height: auto;
  padding: 3rem;
  background-color: #161d2f;
  display: flex;
  gap: 0.75rem;
  flex-direction: column; }
  .form__title {
    font-size: 2.4rem; }
  .form__input {
    display: block;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    color: #fff;
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff; }
    .form__input:first-of-type {
      margin-top: 2rem; }
    .form__input::placeholder {
      font-weight: 200; }
  .form__submit {
    margin-top: 3rem;
    width: 100%;
    padding: 1.25rem;
    cursor: pointer; }
  .form__footer {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.25px; }
  .form__link {
    margin-left: 0.5rem;
    text-decoration: none;
    color: #fc4747;
    border-bottom: 1px dashed #fc4747; }

/*
================================================
                    HOME PAGE
================================================
*/
.container-home {
  max-width: 100%;
  height: 100%;
  padding: 2.75rem 2.2rem;
  display: flex;
  gap: 2.5rem; }

.home__nav {
  height: 50rem;
  padding: 2rem 0;
  background-color: #161d2f;
  border-radius: 1rem;
  flex-basis: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
.home__nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem; }
.home__nav-item .logo {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 2.25rem; }
.home__nav-item .nav--icon {
  width: 2.5rem;
  height: 2.5rem; }
.home__nav-span {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #fff; }
.home__nav-avatar {
  width: 3.4rem;
  height: 3.4rem; }

.search {
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-basis: 50%; }
  .search__logo {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none; }
    .search__logo img {
      width: 2.75rem;
      height: 2.75rem; }
  .search__input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 200;
    padding: 1.5rem;
    font-size: 1.8rem;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
