<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css"></link>
    <link rel="shortcut icon" type="image/png" href="/starter-code/assets/favicon-32x32.png" />
    
    <title>Movie App | Sign in</title>
  </head>
  <body>
    <div class="container-log">
      <img class="logo" src="/starter-code/assets/logo.svg" alt="Logo">
      <div class="form">
        <form class="form__wrapper" id="form">
          <span class="form__title">Login</span>
          <input class="form__input" id="email" type="text" placeholder="example@gmail.com">
          <input class="form__input" id="password" type="password" placeholder="Password">
          <button class="form__submit" id="form-btn">Login to your account</button>
        </form>
        <span class="form__footer">Don't have an account? <a class="form__link" href="#">Sign up</a></span>
      </div>
    </div>
  </body>
</html>
